[submodule "metasploit-framework"]
	path = metasploit-framework
	url = git://github.com/rapid7/metasploit-framework.git
[submodule "nikto"]
	path = nikto
	url = git://github.com/sullo/nikto.git
[submodule "ettercap"]
	path = ettercap
	url = git://github.com/Ettercap/ettercap.git
[submodule "padbuster"]
	path = padbuster
	url = git://github.com/gw0/PadBuster.git
[submodule "sqlmap"]
	path = sqlmap
	url = git://github.com/sqlmapproject/sqlmap.git
