[submodule "metasploit-framework"]
	path = metasploit-framework
	url = git://github.com/rapid7/metasploit-framework.git
[submodule "nikto"]
	path = nikto
	url = git://github.com/sullo/nikto.git
[submodule "ettercap"]
	path = ettercap
	url = git://github.com/Ettercap/ettercap.git
[submodule "padbuster"]
	path = padbuster
	url = git://github.com/gw0/PadBuster.git
[submodule "sqlmap"]
	path = sqlmap
	url = git://github.com/sqlmapproject/sqlmap.git
[submodule "metassh"]
	path = metassh
	url = git://github.com/dirtyfilthy/metassh.git
[submodule "JohnTheRipper"]
	path = JohnTheRipper
	url = git://github.com/magnumripper/JohnTheRipper.git
[submodule "beef"]
	path = beef
	url = git://github.com/beefproject/beef.git
[submodule "scythe"]
	path = scythe
	url = git://github.com/ChrisJohnRiley/Scythe.git
[submodule "easy-creds"]
	path = easy-creds
	url = git://github.com/brav0hax/easy-creds.git
[submodule "smbexec"]
	path = smbexec
	url = git://github.com/brav0hax/smbexec.git
[submodule "post-exploitation"]
	path = post-exploitation
	url = git://github.com/mubix/post-exploitation.git
[submodule "q"]
	path = q
	url = git://github.com/mubix/q.git
[submodule "sptoolkit"]
	path = sptoolkit
	url = git://github.com/sptoolkit/sptoolkit.git
[submodule "responder"]
	path = responder
	url = git://github.com/SpiderLabs/Responder.git
[submodule "social-engineer-toolkit"]
	path = social-engineer-toolkit
	url = git://github.com/trustedsec/social-engineer-toolkit.git
[submodule "mssqlpostexploit"]
	path = mssqlpostexploit
	url = https://git01.codeplex.com/mssqlpostexploit
